p {
 text-align: center; 
}

.destinations {
  text-align: left;
  list-style-type: none;
  font-size: 20px;
}

table, td, tr {
  margin-left: 10px;
  margin-right: 10px;
  text-align: left;
  padding-top: 2px;
  table-layout: fixed;
  width: 95%
}

td, tr {
  width: 90px;
}

