.input {
  padding-right: 3px;
}

.input-field {
padding-left: 23px;
padding-bottom: 25px;
}

thead {
  text-decoration: underline;
  font-size: 25px;
}

table {
  margin-left: 20px;
  margin-right: auto;
  font-size: 20px;
}

.button {
  margin-left: 25%;
  margin-right: auto;
}