.input {
  padding-right: 5px;
}

.input-field {
padding-left: 25px;
padding-bottom: 25px;
}

thead {
  text-decoration: underline;
  font-size: 25px;
}

table {
  margin-left: auto;
  margin-right: auto;
  font-size: 20px;
}

.button {
  text-align: center;
  padding-top: 10px;
}

p {
  padding: 5px;
}