.nav {
  /* flex box layout */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0 0 30px;
  background-color: #00e676;
  overflow: hidden;
}

.nav a {
  text-decoration: none;
}

.nav-title {
  font-size: 24px;
  font-weight: 700;
  color: white;
  padding-left: 10px;
  margin: 0;
  padding-top: 10px;
}

.navLink {
  display: inline-block;
  color: #f2f2f2;
  background-color: #00e676;
  text-align: center;
  padding: 24px 10px;
  text-decoration: none;
  font-size: 15px;

  /* these last two make the logout button in
  the nav bar look like another link */
  border: none;
  cursor: pointer;
  outline: 0;
}

.navLink:hover {
  background-color: #00e676;
}



.nav {
  display: flex;
  justify-content: space-between;
  margin: 0 0 10px;
  background-color: #3e2723; /* Deep brown, reminiscent of earthy tones */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
}

.nav-title {
  font-size: 24px;
  color: #ff9800; /* Warm orange, reminiscent of the One Ring */
  color: white;
  margin: 0;
}

.nav-title:hover {
  text-decoration: none;
}

